<section class="newsletter-signup py-5 bg-success">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-light d-flex align-items-center">
        <div>
          <h3 class="mb-3">Stay Connected with Our Newsletter</h3>
          <p>Be the first to know about our latest news, exclusive content, and special offers.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-0 shadow-lg">
          <div class="card-body">
            <form class="row">
              <div class="form-group col-sm-8 pb-2">
                <input type="email" class="form-control" id="email" placeholder="Enter your email" />
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Subscribe</button>
              </div>
            </form>
            <small class="form-text text-muted"
              >We respect your privacy. Your information is safe and will never be shared.</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
