<div class="container vh-100 d-flex justify-content-center align-items-center bg-dark-blue">
  <div class="card auth-box border-0 shadow">
    <div class="card-body">
      <h1 class="card-title text-center">Welcome</h1>
      <ul class="nav nav-tabs custom-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{ active: selectedTab === 'login' }" (click)="selectTab('login')">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{ active: selectedTab === 'signup' }" (click)="selectTab('signup')">Signup</a>
        </li>
      </ul>
      <div class="tab-content mt-3">
        <div class="tab-pane" [ngClass]="{ active: selectedTab === 'login' }">
          <app-login-form *ngIf="selectedTab === 'login'" (onSubmit)="login($event)"></app-login-form>
        </div>
        <div class="tab-pane" [ngClass]="{ active: selectedTab === 'signup' }">
          <app-signup-form *ngIf="selectedTab === 'signup'" (onSubmit)="signup($event)"></app-signup-form>
        </div>
      </div>
    </div>
  </div>
</div>
