<div class="card brand-story-card">
  <div class="card-body">
    <h5 class="card-title">Our Story</h5>
    <div class="card-text">
      <p>
        Moonlit Moods is a sustainably focused apparel brand for those who find inspiration in the enchanting aura of
        twilight. Our collection features eco-friendly, custom-designed t-shirts, hats, and tote bags that showcase the
        beauty of nocturnal creatures and celestial objects.
      </p>
      <p>
        We are committed to using environmentally responsible materials and production methods, including organic and
        recycled fabrics and water-based inks. By choosing Moonlit Moods, you're supporting a brand that cares about our
        planet and its inhabitants.
      </p>
    </div>
  </div>
</div>
