<div class="brand-story-card text-white h-100 d-flex align-items-center justify-content-center">
  <div class="brand-story-content">
    <h5 class="display-4">Our Story</h5>
    <p>
      Nightly Grove was born from a passion for night-inspired fashion, and a desire to make a difference in the world.
      Our journey began with the creation of captivating designs that celebrate the enigmatic beauty of the night,
      featuring nocturnal creatures, celestial objects, and enchanting landscapes.
    </p>
    <p>
      We believe in authenticity and are committed to our mission of protecting the environment. By using eco-friendly
      materials and responsible practices, we strive to minimize our environmental impact. Join us as we continue to
      explore the fascinating realm of Nightly Grove, offering you sustainable, stylish, and night-inspired apparel that
      speaks to your curious soul.
    </p>
    <a href="/shop" class="btn btn-outline-light btn-lg mt-3">Discover Our Collection</a>
  </div>
</div>
