<!-- hero section -->
<app-hero-section
  title="Nightly Grove"
  subtitle="Night-inspired fashion for the curious"
  gradientFrom="success"
  gradientTo="trans"
  textColour="dark"
></app-hero-section>

<div class="container my-5">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="display-4 mb-4 text-light">Our Story</h2>

      <p>
        Hey there, fellow night owl! Welcome to Nightly Grove, the place where our love for the mystery and beauty of
        the night comes alive.
      </p>

      <p>
        We’re not just about making fashion. We're about bringing the captivating allure of the night sky and the
        soothing whispers of the nocturnal forest into everyday fashion. And while we're at it, we’re dedicated to doing
        our bit for the environment too.
      </p>
    </div>

    <div class="col-lg-6">
      <img class="img-fluid mb-4" src="/assets/images/nightlyGroveLogo02.png" alt="Night Sky" />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2 class="display-4 mb-4 text-light">Our Mission</h2>

      <p>
        Expect genuine and relatable designs, inspired by our love for the night and nature, with a clear and
        approachable voice that we hope will resonate with you. Our tees are not just another piece in your wardrobe,
        but an expression of the shared fascination we have for the wonder and allure of the night.
      </p>
    </div>

    <div class="col-lg-6">
      <img class="img-fluid mb-4" src="/assets/images/nightlyGroveLogo03.png" alt="Moon Forest" />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2 class="display-4 mb-4 text-light">Our Brand</h2>

      <p>
        Our logo reflects this unique approach. A stylized moon merging with forest shadows – a symbol of the intriguing
        combination of night and nature that drives our creativity. Our color palette? Dark blue, grey, and black with
        splashes of gold, silver, and burnt orange to give you that perfect nocturnal feel.
      </p>

      <p>
        We use custom typography, carefully designed to capture the essence of our brand. And don't miss our custom
        icons, featuring celestial objects, nocturnal creatures, and a nod to the sustainable materials we prefer to
        use. These elements together create a cohesive, unique look and feel for Nightly Grove.
      </p>
    </div>

    <div class="col-lg-6">
      <h2 class="display-4 mb-4 text-light">Sustainability</h2>

      <p>
        We might not be able to fully commit to sustainability just yet, but rest assured, we're conscious about the
        environmental impact of our actions. That's why we choose eco-friendly materials and packaging whenever we can.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2 class="display-4 mb-4 text-light">Experience Nightly Grove</h2>

      <p>
        As you browse through our site, we hope you enjoy the clean, user-friendly layout that embodies our brand's
        mysterious yet captivating aesthetic. From the deepest hues of our t-shirts to our light, atmospheric
        photography style, every detail is designed to make you feel connected to the allure of the night.
      </p>

      <p>
        Got questions? Reach out! We love hearing from our customers. Together, let's celebrate the beauty of the night.
      </p>
    </div>
  </div>
</div>
