<div class="brand-image-card text-white h-100 d-flex align-items-center justify-content-center container-fluid">
  <p class="brand-image-text text-center">
    Our logo captures the essence of Nightly Grove, featuring a stylized moon and forest silhouettes, reflecting our
    connection to the natural world and the mysteries of the night.
  </p>
  <img
    class="brand-image img-fluid"
    src="assets/images/nightlyGroveLogo.png"
    alt="An illustration of the moon with a forest silhouette."
  />
</div>
