<div>
  <div class="text-center">
    <p class="h4 mb-4">Follow us on social media</p>
    <a href="https://www.facebook.com/nightlygrove" target="_blank" class="btn btn-dark-blue btn-lg mx-2">
      <i class="bi bi-facebook"></i>
    </a>
    <a href="https://www.instagram.com/nightlygrove" target="_blank" class="btn btn-dark-blue btn-lg mx-2">
      <i class="bi bi-instagram"></i>
    </a>
    <a href="https://www.twitter.com/nightlygrove" target="_blank" class="btn btn-dark-blue btn-lg mx-2">
      <i class="bi bi-twitter"></i>
    </a>
  </div>
</div>
