@import "theme/theme-variables";

// 3rd party libraries
@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

// Theme customization
@import "assets/custom-gradients";
@import "theme/theme";

/*--------- Bootstrap transitions ---------*/

// Add hover effects and transition to all buttons
.btn {
  transition: all 0.3s ease;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);

  &:hover {
    color: #fff;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  }
}
