// Custom variables for the animated button
$animated-button-bg: $light;
$animated-button-border-color: #6fb07f;
$animated-button-color: #6fb07f;
$animated-button-focus-bg: #6fb07f;
$animated-button-focus-color: $light;

.animated-button {
  width: 600px;
  height: 200px;
  border-radius: 100px;
  background: $animated-button-bg;
  position: absolute;
  border: 5px solid $animated-button-border-color;
  font-size: 48px;
  color: $animated-button-color;
  outline: none;
  cursor: pointer;
}

.animated-button img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.animated-button:focus {
  animation: extend 1s ease-in-out;
  animation-fill-mode: forwards;
}

.animated-button:focus > span {
  animation: disappear 1s ease-in-out;
  animation-fill-mode: forwards;
}

.animated-button:focus > img {
  animation: appear 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes extend {
  0% {
    width: 600px;
    height: 200px;
    border-radius: 100px;
  }
  10% {
    width: 610px;
    height: 210px;
    background: $animated-button-bg;
    margin-left: -5px;
    margin-top: -5px;
  }
  20% {
    width: 600px;
    height: 200px;
    background: $animated-button-focus-bg;
    margin-left: 0px;
    margin-top: 0px;
  }
  100% {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 190px;
    background: $animated-button-focus-bg;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  20% {
    color: $animated-button-focus-color;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  background: $white;
}

.cont {
  position: absolute;
  width: 610px;
  height: 10px;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -300px;
}
